/*Секция gallery*/
.gallery {
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    margin-top: 8em;
}

.gallery_row {
    overflow-x: auto;
    display: flex;
    gap: 1.25vw;
    scroll-snap-type: x mandatory;
}

.gallery_row img {
    object-fit: cover;
    aspect-ratio: 24.69 / 17.69;
    width: 24.7em;
    height: auto;
    scroll-snap-align: start;
    cursor: pointer;
}

.gallery_row::-webkit-scrollbar {
    display: none;
}

/*Конец секции gallery*/
.about_us {
    margin-top: 5.125em;
    overflow-x: hidden;
}

.about_us h2 {
    width: max-content;
}

.about_us_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us_content_description {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: min-content;
}

.about_us_content_description p {
    font-weight: 300;
    font-size: 1.5em;
    color: var(--text-on-white);
}

.about_us_content img {
    transform: translateX(10vw);
}
/*Конец секции we_the_best*/

/*Секция course*/
.course_block {
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    padding: 4.375em 6.25em 2.5em 6.25em;
    margin-top: 8em;

    border-radius: 3.12em;
    background: #f5f7fb;
}

.course_block h2 {
    align-self: start;
}

.course_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25em;
}

.course {
    border-radius: 3.12em;
    cursor: pointer;
    background: var(--card);
    padding: 0.75em;
    border: 1px solid var(--card);
}

.course_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em 1.25em;

    color: var(--text-on-blue);

    border: 1px solid var(--white);
    border-radius: 2em;
}

.course img {
    aspect-ratio: 1 / 1;
    width: 11.62em;
    height: auto;
    margin-bottom: 2.875em;
}

.course_title {
    font-weight: 600;
    font-size: 1.5em;
    color: var(--text-on-blue);
    text-align: center;
}

.course_description {
    font-weight: 500;
    font-size: 0.94em;
    text-align: center;
    color: var(--text-on-blue);
}

.course .button {
    margin-top: 1.75em;
}

.course:hover {
    background: var(--hover-card);
    border: 1px solid var(--card);
}

.course:hover * {
    color: var(--text-on-white);
}

.course:hover .button {
    background: var(--card);
    color: var(--white);
}

.course:hover .button:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 2px 12px 12px 0 rgba(0, 0, 0, 0.09), 4px 26px 16px 0 rgba(0, 0, 0, 0.05), 7px 47px 19px 0 rgba(0, 0, 0, 0.01), 11px 73px 21px 0 rgba(0, 0, 0, 0);
    background: var(--hover-blue-button);
    color: var(--white);
}

.course:hover .course_content {
    border: 1px solid var(--card);
}
/*Конец секции course*/

/*Попап окно для галереи*/
.popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100000;
}

.popup.active {
    display: block;
}

.popup .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}

.popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001;
}

.popup_close,
.arrow {
    position: absolute;
    z-index: 100002;

    background-color: color-mix(in srgb, var(--main-color) 80%, rgba(0, 0, 0, 0));
    color: white;

    font-size: 2em;
    line-height: 100%;
    text-align: center;

    cursor: pointer;
    user-select: none;
    padding: 0.125em;
}

.popup_close:hover,
.arrow:hover {
    background-color: color-mix(in srgb, var(--accent) 80%, rgba(0, 0, 0, 0.5));
}

.arrow#arrow_left {
    top: 50%;
    left: 0.75em;
}

.arrow#arrow_right {
    top: 50%;
    right: 0.75em;
}

.popup_close {
    top: 0.75em;
    right: 0.75em;
}

.popup_content #modal_image {
    aspect-ratio: 916 / 654;
    width: 57.25rem;
    height: auto;
}

/*Конец попап окна для галереи*/