@media screen and (max-width: 1601px) {
    .button {
        padding: 0.75rem 1.5rem;
    }
}

@media screen and (max-width: 1505px) {
    .about_us_content img {
        transform: translateX(10vw);
    }
}

@media screen and (max-width: 1333px) {
    .about_us_content img {
        transform: translateX(15vw);
    }
}

@media screen and (max-width: 1230px) {
    .about_us_content img {
        width: 28.25em;
        transform: translateX(20vw);
    }
}

@media screen and (max-width: 1051px) {
    .top_about_left :is(p, .button) {
        font-size: 1.25rem;
    }

    header {
        padding: 3.125em 0 1.5em 0;
    }

    .wrapper {
        padding-right: 5em;
        padding-left: 5em;
    }

    .gallery {
        margin-top: 7em;
    }

    .about_us {
        margin: 5.25em auto 0 auto;
    }

    h2 {
        font-size: 2.25rem;
    }

    .gallery_row img {
        width: 22.12em;
        height: auto;
    }

    .course_block {
        margin-top: 5.25em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .course_block h2 {
        font-size: 2.5rem;
    }

    .course_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .course {
        padding: 0.75em;
    }

    .course img {
        width: 11.25em;
        margin-bottom: 1.75em;
    }

    .about_us {
        padding-bottom: 0;
    }

    .contacts {
        margin: 0;
        padding: 6em 0;
    }

    .contacts_about p {
        font-size: 1.25rem;
    }

    .contacts_links {
        margin-top: 3.5em;
    }

    .popup_content #modal_image {
        width: 41rem;
    }
}

@media screen and (max-width: 950px) {
    .top_about {
        grid-template-columns: 3fr 2fr;
    }
}

@media screen and (max-width: 881px) {
    header {
        background-image: url("../assets/img/elements/header/header_bg_clean_881.svg");
    }

    .top_about_right {
        display: none;
    }

    .top_about {
        grid-template-columns: 1fr;
    }

    .top_about_left {
        align-items: center;
        text-align: center;
        gap: 1em;
    }

    .top_about_left h1 {
        font-size: 2.25rem;
    }

    .top_about_left p {
        font-size: 1rem;
    }

    .top_about_left .button {
        margin-top: 1em;
    }

    .about_us_content {
        grid-template-columns: 1fr;
    }

    .about_us_content img {
        position: relative;
        transform: unset;
        width: 100%;
    }

    .about_us_content_description {
        margin: 2em 0 4em 0;
    }

    .course_block {

    }

    .course {
        padding: 0.5em;
    }

    footer {
        background-image: url("../assets/img/elements/footer/footer_bg_871.svg");
    }

    .popup_content #modal_image {
        width: 32rem;
    }
}

@media screen and (max-width: 671px) {
    .wrapper {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

@media screen and (max-width: 571px) {
    header {
        padding: 2em 0 1.875em 0;
        background-image: url("../assets/img/elements/header/header_bg_clean_571.svg");
        background-size: cover;
    }

    header .top_about {
        margin: 3.5em 0 6em 0;
        height: max-content;
    }

    .header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header nav {
        display: none;
    }

    header nav * {
        color: #FAF9F9;
    }

    .header_menu_burger {
        position: absolute;
        right: 0;
        display: block;
    }

    header.activeBurgerMenu {
        background: #0081f1;
        animation-name: showBurgerMenuHeaderAnimation;
        animation-duration: .3s;
        border-radius: 0 0 2em 2em;
    }

    header.activeBurgerMenu .top_about {
        display: none;
    }

    header.activeBurgerMenu .header_menu_burger {
        top: 0;
    }

    header.activeBurgerMenu nav {
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        animation-name: showBurgerMenuNavAnimation;
        animation-duration: .3s;
        margin-bottom: 8em;
    }

    .header_menu_burger.active .header_menu_burger_img {
        background-image: url("../assets/img/elements/header/menu_burger_close.svg");
        width: 1.5em;
        height: 1.5em;
    }

    .top_about_left h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1.25em;
    }

    .top_about_left p {
        font-size: 0.94rem;
    }

    .top_about_left .button {
        font-size: 0.88rem;
        margin-top: 0;
    }

    .gallery {
        margin-top: 4em;
    }

    .about_us h2 {
        margin: 0 auto;
        font-size: 1.75rem;
    }

    .about_us_content {
        gap: 0.875em;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .about_us_content p {
        font-size: 0.94em;
        text-align: center;
    }

    .gallery_row img {
        width: 15.44em;
        height: auto;
    }

    .course_block h2 {
        font-size: 1.75rem;
        margin: 0 auto;
    }

    .course_grid {
        gap: 0.75em;
    }

    .course {
        width: 19.38em;
        scroll-snap-align: start;
    }

    .course img {
        width: 7.88em;
        margin-bottom: 0.75em;
        gap: 0.5em;
    }

    .course_grid {
        /*grid-template-columns: 1fr;*/
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .course .button {
        margin-top: 1.25em;
        font-size: 0.62rem;
    }

    footer {
        background-image: url("../assets/img/elements/footer/footer_bg_571.svg");
    }

    .contacts {
        padding: 3.125em 0 3.75em 0;
    }

    .contacts_links {
        flex-direction: column;
        gap: 2.875em;
    }

    .contacts_links_img {
        width: 7em;
    }

    .contacts_links a {
        gap: 0.75em;
    }

    .contacts_links a p {
        font-size: 1.5rem;
    }

    .contacts_about h2 {
        font-size: 1.75rem;
    }

    .contacts_about p {
        font-size: 1rem;
    }

    .popup_content #modal_image {
        width: 21.875rem;
    }

    .popup_close,
    .arrow {
        font-size: 1em;
    }
}

@keyframes showBurgerMenuHeaderAnimation {
    0% {
        background: transparent;
    }
    100% {
        background: var(--main-color);
    }
}

@keyframes showBurgerMenuNavAnimation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}